

.label {
    width:100%; 
    height:100%;
    page-break-after:always
    /* width: 100%;
    height:100%;
    top:0px;
    bottom:0px;
    margin: auto;
    margin-top: 0px !important;
    border: 1px solid; */
}

.header {
    font-weight: bold;
    font-size: large;
}

.info {
    font-size: 1.5em;
    text-align: left;
    padding-left: 12%;
}