.App {
  font-size: 16px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#change-form-wrapper, #register-form-wrapper {
  width: 60rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#submission-btn-wrapper{
  margin-top:5rem;
}

#register-entry-wrapper, #student-entries-wrapper{
  text-align: left;
}

.sub-header {
  font-size: 1.6rem;
  padding-left: 0.5rem;
  text-align:left;
}

.sub-header.sub-entry {
  font-size: 1.2rem;
}

.autocomplete-dropdown-container {
  padding-left: 0.75rem;
  text-align: left;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left:7%;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #2196f3;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #2196f3;
  box-shadow: 0 1px 0 0 #2196f3;
}

/* label focus color */
.input-field input[type=Email]:focus + label {
  color: #2196f3;
}
/* label underline focus color */
.input-field input[type=Email]:focus {
  border-bottom: 1px solid #2196f3;
  box-shadow: 0 1px 0 0 #2196f3;
}

[type="checkbox"]+label {
  margin-top: 50%;
  margin-left: 50%;
}

/* student entries */
.student-btn-wrapper{
  margin-top:5rem;
}

#student-btn {
  margin-bottom: 1.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
